<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/_mainLayout :: layout( ~{::section#body} )}">

<section id="body">

  <div class="container my-5">

    <div class="row mt-5">
      <h1>Publicități</h1>
      <a class="btn btn-primary col-md-4" th:href="@{/home/publicities/add}" role="button">Adaugă publicitate</a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 my-1">
      <th:block th:if="${publicities}">
        <th:block th:each="item : ${publicities}">
          <div class="col">
            <div class="card border">
              <img th:src="@{/api/publicityImage?publicityId=}+${item.id}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title" th:text="${item.title}">Card title</h5>
                <p class="card-text" th:text="${item.content}">Content</p>
                <a class="btn btn-primary" th:href="@{/home/publicity/}+${item.id}">Info ...</a>
              </div>
            </div>
          </div>
        </th:block>
      </th:block>
    </div>

  </div>

</section>